.leaves-grid{
     display: grid;
     grid-template-columns: 20% 20% 18% 12% 11% 14%;
     justify-content: space-between;
     align-items: center;     
     color: #0E0D0D;
     font-weight: 700;
     padding: 10px 15px;
}
.leaves-content{
     display: grid;
     grid-template-columns: 20% 20% 18% 12% 11% 14%;
     justify-content: space-between;
     border: 1px solid #979393;
     border-radius: 7px;
     padding: 10px 15px;
     align-items: center;
}

.pending-item-separate{
     position: relative;
     color: #FF9600;
     z-index: 0;
}

.pending-item-separate::before{
     width: 90%;
     position: absolute;
     background-color: #FFF3DE;
     content: "";
     z-index: -1;
     border-radius: 7px;
     height: 25px;
     top: -4px;
     left: -15px;
}
.approved-item-separate{
     position: relative;
     color: #2196F3;
     z-index: 0;
}

.approved-item-separate::before{
     width: 90%;
     position: absolute;
     background-color: #E3F2FD;
     content: "";
     z-index: -1;
     border-radius: 7px;
     height: 25px;
     top: -4px;
     left: -15px;
}


.rejected-item-separate{
     position: relative;
     color: #EF6E68;
     z-index: 0;
}

.rejected-item-separate::before{
     width: 90%;
     position: absolute;
     background-color: #FFEAED;
     content: "";
     z-index: -1;
     border-radius: 7px;
     height: 25px;
     top: -4px;
     left: -15px;
}

.all-comp-search-wrap{
     position: relative;
}
.all-comp-search-icon{
     position: absolute;
     right: 10px;
     top: 6px;
}
.form-select{
     border-radius: 7px;
}