.header {
     background-color: #E0E0E0;
     position: fixed;
     width: 80%;
     top: 0;
     right: 0;
     box-shadow: 0px 4px 4px 0px #22202033;
     border-radius: 0px 0px 0px 7px;
     display: flex;
     justify-content: end;
     align-items: center;
     padding: 10px 20px;
     border: unset;
     z-index: 0;
}

select {
     outline: none;
}

.header-wrap {
     display: flex;
     gap: 25px;
     align-items: center;
}

.header-icon-profile {
     font-size: 22px;
     color: #1E88E5;
     cursor: pointer;
}

.header-icon-notification {
     color: #424242;
     cursor: pointer;
     font-size: 20px;
}

.custom-select-wrapper {
     position: relative;
     display: flex;
     align-items: center;
     color: #0E0D0D;
}

.custom-select {
     display: block;
     width: 100%;
     font-size: 16px;
     color: #333;
     background-color: #E0E0E0;
     border: unset;
     appearance: none;
     -webkit-appearance: none;
     -moz-appearance: none;
     cursor: pointer;
     padding: 0px 10px;
}

.icon-language{
     font-size: 22px;
}