.work-form{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}
.form-button-side{
     width: 45%;
     border: unset;
     border-radius: 7px;
     color: white;
     padding: 2px 0px;
}
.form-button-side-container{
     width: 100%;
     display: flex;
     margin: 5px 0px;
     justify-content: space-between;
}
.form-input-group-wrap{
     display: flex;
     justify-content: space-between;
}
.form-input-group{
     width: 49%;
     padding: 8px 15px;
     margin-bottom: 15px;
}