
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
             
body{
  background-color: #F5F5F5;
  font-family: Circe, sans-serif;
}
             
a {
  text-decoration: unset;
  transition: 1s;
}
               
ul {
  list-style: none;
  padding: unset;
  display: flex;
}

input{
  outline: none;
  color: black;
  font-weight: 600;
}
button{
  box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to top, #851C1F, #EB3236);
  cursor: pointer;
}